[submodule "refs/tinycc"]
	path = refs/tinycc
	url = https://github.com/TinyCC/tinycc.git
[submodule "refs/mbtcc"]
	path = refs/mbtcc
	url = git@github.com:moonbitlang/mbtcc.git
[submodule "refs/vc"]
	path = refs/vc
	url = https://github.com/vlang/vc.git
[submodule "refs/quickjs"]
	path = refs/quickjs
	url = https://github.com/bellard/quickjs.git
